{% extends "layout.html" %}
{% block body %}
        <div class="col-lg-6">

	<h4>What is polyA translational attenuator?</h4>
	polyA translational attenuator is a segment encoding large number of consecutive adenines (our results suggests pattern 12A allowing for one mismatch in between) in coding sequences. 
This mRNA motif impacts gene expression differently from previously described effects of polybasic amino acid runs adding a new layer of complexity to regulation of gene expression at the level of translation. In our experimental work we showed that runs of adenosine nucleotides that usually encode lysine residues may act as translational attenuators in human genes altering the amount of protein output, the stability of the mRNA, or leading to production of “alternative” frame-shifted products. These sequences induce ribosome pausing in various eukaryotic cells arguing that this mechanism is conserved and may be used to regulate gene expression across diverse biological systems.


          <h4>General statistics</h4>
<table data-toggle="table">
    <thead>
        <tr>
            <th >Genomes</th>
            <th >Genes</th>
            <th>PolyA segments</th>
        </tr>
	</thead>
    <tbody>
        <tr>
            <td>{{genomes}}</td>
            <td>{{genes}}</td>
            <td>{{polya}}</td>
        </tr>
    </tbody>
</table>
	<h4>Using the database</h4>
	Lorem ipsum blah blah

	</div>

        <div class="col-lg-6">

	<h4>Workflow overview</h4>

	<img class="img-responsive" src="{{ url_for('static', filename='workflow.png') }}">

      </div>

{% endblock %}

