<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PATACSDB - The database of PolyA Translational Attenuators in Coding Sequences</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap-table.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-en-US.js"></script>

    <div class="container">
          <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" ><a href="/database">Database</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>PATACSDB - The database of PolyA Translational Attenuators in Coding Sequences</h1>
        <p class="lead">Comprehensive resource on polyA-based translational attenuators in Eukaryotic genomes.</p>
      </div>

      <div class="row marketing">
        {% block body %}
        {% endblock %}
      </div>
      
      <footer class="footer">
        <p>Data available under CC0 license. If you use this resource please cite: Habich, Djuranovic & Szczesny, 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>






<body>
</html>



