<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PATACSDB - The database of PolyA Translational Attenuators in Coding Sequences</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-table.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.js') }} "></script>

    <script src="{{ url_for('static', filename='js/bootstrap-table-en-US.js') }} "></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-export.js') }} "></script>
    <script src="{{ url_for('static', filename='js/tableExport.js') }} "></script>
    
    <div class="container">
          <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for('index') }}">Home</a></li>
            <li role="presentation" ><a href="{{ url_for('database') }}">Database</a></li>
            <li role="presentation"><a href="mailto:szczesny@ibb.waw.pl">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="jumbotron">
        <h1>PATACSDB - The database of PolyA Translational Attenuators in Coding Sequences</h1>
        <p class="lead">Comprehensive resource on polyA-based translational attenuators in Eukaryotic genomes.</p>
      </div>

      <div class="row marketing">
        {% block body %}
        {% endblock %}
      </div>
      
      <footer class="footer">
        <p>Data available under CC0 license. If you use this resource please cite: <a href="https://doi.org/10.7717/peerj-cs.45">Habich M, Djuranovic S, Szczesny P. (2016) PATACSDB—the database of polyA translational attenuators in coding sequences. PeerJ Computer Science 2:e45</a></p>
      </footer>
    </div> <!-- /container -->




<body>
</html>



