{% extends "layout.html" %}
{% block body %}

    <table
    style="font-family:Courier New"
    data-toggle="table"
    data-url="{{organism_url}}"
    data-show-columns="true"
    data-pagination="true" 
    data-search="true"
    data-sort-name="protein_name"
    data-sort-order="asc"
    >
    <thead>
    <tr>
        <th data-field="protein_name" data-sortable="true">Protein name</th>
        <th data-field="gene_id" data-formatter="geneFormatter" data-sortable="true">Gene id</th>
        <th data-field="transcript_id" data-formatter="transcriptFormatter" data-sortable="true">Transcript id</th>
        <th data-field="location" data-align="center" data-sortable="true">Location (%)</th>
        <th data-field="sequence_info" data-formatter="seqFromatter" data-sortable="true" data-sorter="sequenceSorter">Sequence</th>
    </tr>
    </thead>
    </table>
    <script>
    function geneFormatter(gene_id,row) {
        if (row.gene_link) {
            return '<a href="' + row.gene_link + '">' + gene_id + '</a>'
        } else {
            return gene_id
        }
    }
    function transcriptFormatter(transcript_id,row) {
        return '<a href="' + row.transcript_link + '">' + transcript_id + '</a>'
    }
    function seqFromatter(sequence_info, row) {
        return sequence_info.sequence.slice(0,sequence_info.AAA_start)+"<b>"+'<a href="'+ sequence_info.sequence_link+ '">'+sequence_info.sequence.slice(sequence_info.AAA_start,sequence_info.AAA_stop)+ '</a>'+"</b>" + sequence_info.sequence.slice(sequence_info.AAA_stop)
    }
    function sequenceSorter(a,b) {
        a_len = a.AAA_stop-a.AAA_start
        b_len = b.AAA_stop-b.AAA_start
        if (a_len > b_len) return 1
        if (a_len < b_len) return -1
        return 0;
    }
    </script>
{% endblock %}
