{% extends "layout.html" %}
{% block body %}

    <table
    style="font-family:Courier New"
    data-toggle="table"
    data-url="{{organism_url}}"
    data-show-columns="true"
    data-pagination="true" 
    data-search="true">
    <thead>
    <tr>
        <th data-field="gene_id">Gene id</th>
        <th data-field="transcript_id">Transcript id</th>
        <th data-field="protein_id"> Protein id </th>
        <th data-field="protein_name">Protein name</th>
        <th data-field="AAA_sequence">Poly-Adenine Fragment</th>
        <th data-field="AAA_hem_sequence">Poly-Adenine Fragment with 8 aa margin</th>
        <th data-field="ensembl_link" data-formatter="linkFormatter">Ensemble link</th>
        <th data-field="GO_ids">GO terms</th>
    </tr>
    </thead>
    </table>
    <script>
    function linkFormatter(value) {
        return '<a href="' + value + '">Link</a>'
    }
    </script>
{% endblock %}